*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0rem;
  background-color: black;
  height: auto;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.carousel-container {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  overflow: hidden;
  max-width: 800px;
  position: relative;
  -webkit-box-shadow: 0 0 95px 7px #ffffff;
          box-shadow: 0 0 95px 7px #ffffff;
  margin: auto;
  z-index: 0;
}

@media only screen and (max-width: 50em) {
  .carousel-container {
    -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  -webkit-border-radius: 0 8px 8px 0;
          border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  -webkit-border-radius: 8px 0 0 8px;
          border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.3);
}

.text {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.265);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  text-shadow: 1px 1px #000000;
  text-align: center;
  width: 80%;
}

@media only screen and (max-width: 50em) {
  .text {
    bottom: 5px !important;
    padding: 2px 4px !important;
    -webkit-backdrop-filter: blur(6px) !important;
            backdrop-filter: blur(6px) !important;
    font-size: 1.8rem !important;
  }
}

.number {
  display: none;
}

@media only screen and (max-width: 50em) {
  .number {
    display: none;
  }
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

@media only screen and (max-width: 50em) {
  .dots-container {
    display: none;
  }
}

.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 50em) {
  .dots {
    display: none;
  }
}

.active,
.dots:hover {
  background-color: rgba(173, 216, 230, 0.8);
}

.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(1.1) rotateY(10deg);
            transform: scale(1.1) rotateY(10deg);
  }

  to {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
}

@keyframes animate {
  from {
    -webkit-transform: scale(1.1) rotateY(10deg);
            transform: scale(1.1) rotateY(10deg);
  }

  to {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
}

.white-head {
  color: #fff !important;
  text-align: center;
  margin: 0 auto;
  width: 23ch;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-shadow: 2.5px 2.5px #a6720b;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
}

@media only screen and (max-width: 37.5em) {
  .white-head {
    font-size: 3.2rem !important;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }

  50% {
    width: 50;
  }

  100% {
    width: 100;
  }
}

@keyframes type {
  0% {
    width: 0;
  }

  50% {
    width: 50;
  }

  100% {
    width: 100;
  }
}

@-webkit-keyframes blink-caret {
  0% {
    border-right: 3px solid #00000000;
  }

  50% {
    border-right: 3px solid #ffffff;
  }
}

@keyframes blink-caret {
  0% {
    border-right: 3px solid #00000000;
  }

  50% {
    border-right: 3px solid #ffffff;
  }
}

.header {
  height: auto;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  height: 95vh;
}

@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
  }
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 4rem;
  width: 13rem;
}

.header__text-box {
  position: absolute;
  top: 20%;
  left: 55%;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .header__text-box {
    top: 40%;
    -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .bg-video {
    scale: 1;
  }
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 37.5em) {
  .bg-video__content {
    -o-object-fit: fit;
       object-fit: fit;
    height: 125%;
    width: 125%;
  }
}

.heading-primary {
  color: #000000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: left;
}

.heading-primary--main {
  color: #000000;
  display: block;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px #a6720b;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 0.3rem;
  }
}

.heading-primary--sub {
  display: block;
  color: #000000 !important;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: .20rem;
  }
}

.heading-primary--sub2 {
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #a6720b;
}

@media only screen and (max-width: 37.5em) {
  .ary--sub2 {
    letter-spacing: 0.3rem;
  }
}

.cursor {
  display: inline-block;
  background-color: #000000;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    background-color: #000000;
  }

  49% {
    background-color: #000000;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #000000;
  }
}

@keyframes blink {
  0% {
    background-color: #000000;
  }

  49% {
    background-color: #000000;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #000000;
  }
}

.full-width {
  width: 102vw;
  height: 102vh;
}

body {
  font-family: 'Roboto';
}

.popup-trigger {
  display: block;
  width: 170px;
  right: 2rem;
  margin: 3em auto;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 50em;
          border-radius: 50em;
  background: #35a785;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
}

.popup-trigger:hover {
  opacity: .8;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 5000;
  width: 100%;
  background-color: #a6720bd9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms all;
  -o-transition: 500ms all;
  transition: 500ms all;
}

.popup.is-visible,
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-container {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 500ms all;
  -o-transition: 500ms all;
  transition: 500ms all;
  position: relative;
  width: 500px;
  margin: 2em auto;
  top: 50%;
  padding: 5rem;
  background: #FFF;
  -webkit-border-radius: .25em .25em .4em .4em;
          border-radius: .25em .25em .4em .4em;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  height: 500px;
}

@media only screen and (max-width: 32.5em) {
  .popup-container {
    width: 333px;
    margin: 0.3em auto;
    height: auto;
  }
}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {
  .popup-container {
    height: 350px;
  }
}

/* .is-visible .popup-container {
  transform: translateY(0);
  transition: 500ms all;
} */

.popup-container .popup-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  font-size: 0;
  right: 8px;
  width: 30px;
  height: 30px;
}

.popup-container .popup-close::before,
.popup-container .popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: RED;
}

.popup-container .popup-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.popup-container .popup-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.popup-container .popup-close:hover:before,
.popup-container .popup-close:hover:after {
  background-color: red;
  -webkit-transition: 300ms all;
  -o-transition: 300ms all;
  transition: 300ms all;
}

.fullp-width {
  width: 100%;
  height: 100%;
}

.white-headf {
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 23ch;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900 !important;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
  font-size: 3rem !important;
  text-shadow: 1px 1px #a6720b;
}

@media only screen and (max-width: 37.5em) {
  .white-headf {
    font-size: 3rem !important;
  }
}

.header-button {
  -webkit-animation: moveinbottom .5s ease-out .75s;
          animation: moveinbottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header-button,
.header-button:link,
.header-button:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #000000;
  padding: 15px 40px;
  display: inline-block;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.header-button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
}

.header-button:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.header-button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.header-button:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.3);
      -ms-transform: scaleX(1.5) scaleY(1.3);
          transform: scaleX(1.5) scaleY(1.3);
  opacity: 0;
}

.btn__popup,
.btn__popup:link,
.btn__popup:visited {
  background-color: #008077 !important;
  color: white !important;
  padding: 5px 15px !important;
}

.btn__popup::after {
  background-color: #008077 !important;
}

.fcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.fitem {
  background-image: -o-linear-gradient(top, rgba(241, 241, 241, 0.511) 0%, rgba(249, 255, 249, 0.498) 100%), url(../img/cardbg2.jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 241, 241, 0.511)), to(rgba(249, 255, 249, 0.498))), url(../img/cardbg2.jpg);
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.511) 0%, rgba(249, 255, 249, 0.498) 100%), url(../img/cardbg2.jpg);
  height: auto;
  font-size: 2.0rem;
  width: 35rem;
  padding: 2rem;
  margin: 3rem;
  text-align: center;
  -webkit-box-shadow: 0 0 25px -3px #000000;
          box-shadow: 0 0 25px -3px #000000;
  text-shadow: 1px 1px #ffffff;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.felement {
  text-align: center;
  color: black;
  font-size: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000000;
  text-shadow: 0.5px 0.5px #a6720b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fitem:hover {
  -webkit-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-box-shadow: 0 0 25px -3px #ffffff;
          box-shadow: 0 0 25px -3px #ffffff;
}

.f1 {
  border: 0.5rem solid black;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.f2 {
  border: 0.5rem solid black;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.f3 {
  border: 0.5rem solid black;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.f4 {
  border: 0.5rem solid black;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.f5 {
  border: 0.5rem solid black;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.fa-sharp {
  margin-right: 1rem;
}

.white-head3 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 11ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
  font-size: 4rem !important;
  text-shadow: 2px 2px #000000;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .white-head1 {
    font-size: 3.2rem !important;
  }
}

.alert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.notice-board {
  display: inline-block;
  margin: 0 auto;
  width: 600px;
  height: 100%;
  border-top: 6px #000000;
  border-bottom: 6px #000000;
  border-style: solid;
  -webkit-border-radius: 35px;
          border-radius: 35px;
}

@media only screen and (max-width: 50em) {
  .notice-board {
    -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
  }
}

.white-head1 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
  font-size: 4rem !important;
  text-shadow: 2px 2px #000000;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .white-head1 {
    font-size: 3.2rem !important;
  }
}

.cropper {
  padding-top: 4rem;
  background-color: #a6720b;
  margin-top: 7rem;
  padding-bottom: 5rem;
  -webkit-clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
          clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
  width: 100%;
}

.cropper-sub {
  padding-top: 4rem;
  background-color: #a6720b;
  margin-top: 7rem;
  -webkit-clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
          clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
  width: 100%;
  padding-bottom: 3rem;
}

.cropper-sub2 {
  padding-top: 4rem;
  background-color: #a6720b;
  margin-top: 7rem;
  -webkit-clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
          clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
  width: 100%;
  padding-bottom: 3rem;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #a6720b;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: -o-radial-gradient(#d59b25, #946300);
  background-image: radial-gradient(#d59b25, #946300);
  z-index: 1000;
  -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1.2s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1.2s cubic-bezier(0.86, 0, 0.07, 1);
  will-change: transform;
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -o-linear-gradient(330deg, transparent 0%, transparent 50%, #FFF 50%);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  border: 0.2rem solid #ffffff;
  width: 66%;
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #a6720b;
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked~.navigation__background {
  -webkit-transform: scale(120);
      -ms-transform: scale(120);
          transform: scale(120);
}

@media screen and (max-width: 500px) {
  .navigation__checkbox:checked~.navigation__background {
    -webkit-transform: scale(20);
        -ms-transform: scale(20);
            transform: scale(20);
  }
}

@media screen and (max-width: 800px) {
  .navigation__checkbox:checked~.navigation__background {
    -webkit-transform: scale(40);
        -ms-transform: scale(40);
            transform: scale(40);
  }
}

@media screen and (max-width: 1400px) {
  .navigation__checkbox:checked~.navigation__background {
    -webkit-transform: scale(80);
        -ms-transform: scale(80);
            transform: scale(80);
  }
}

@media screen and (max-width: 500px) {
  .navigation__checkbox:checked~.navigation__background {
    -webkit-transform: scale(120);
        -ms-transform: scale(120);
            transform: scale(120);
  }
}

.navigation__checkbox:checked~.navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #ffffff;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.white-head8 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 14ch;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-shadow: 0.2rem 0.2rem #a6720b;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
}

@media only screen and (max-width: 37.5em) {
  .white-head8 {
    font-size: 3.2rem !important;
  }
}

:root {
  --mon: "Montserrat", sans-serif;
}

.container {
  max-width: 100rem;
  width: 80%;
  margin: auto !important;
  padding: 0 15px;
}

.testimonial-area {
  position: relative;
  z-index: 2;
  padding: 1.5rem 0;
}

.testimonial-area .owl-carousel {
  overflow: hidden;
  padding: 0 2rem;
  margin: 0px -4rem;
  padding-right: 4rem;
}

.testimonial-area .owl-stage-outer {
  padding: 3rem 5rem;
  margin-left: -3.4rem;
  width: -webkit-calc(100% + 10rem);
  width: calc(100% + 10rem);
}

.single-testimonial {
  border: 0.7rem solid #fff;
  text-align: justify;
  -webkit-border-radius: 4.5rem;
          border-radius: 4.5rem;
  position: relative;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;
}

.single-testimonial p {
  color: #fff;
  font-size: 2.0rem;
  line-height: 2.4rem;
  padding: 2rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
  position: relative;
  z-index: 3;
}

.single-testimonial::before {
  content: "";
  position: absolute;
  left: -3.5rem;
  top: -3.5rem;
  background: url(../img/quote1.png) no-repeat #000;
  background-size: 60%;
  width: 12.6rem;
  height: 10rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-position: 3.4rem 1.5rem;
}

.single-testimonial::after {
  content: "";
  position: absolute;
  right: -3.5rem;
  bottom: -3.4rem;
  background: url(../img/quote1.png) no-repeat #000;
  background-size: 60%;
  width: 12.6rem;
  height: 10rem;
  background-position: 3.4rem 1.9rem;
}

/* .test-image {
  padding-right: 1.5rem;
  margin-right: 1rem;
  
} */

.test-info {
  position: relative;
  z-index: 3;
}

.test-info a {
  /* width: 4rem;
  height: 4rem;
  border-radius: 10rem; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-size: 2.2rem;
}

.test-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-bottom: 5rem;
}

.test-info h6 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #a6720b;
}

.test-info span {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
}

.sec-title.white-title h2 {
  color: #fff;
}

.size {
  width: 7rem;
  height: 7rem;
  border: 0.1rem solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1000px;
}

.heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}

.heading:after {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: -webkit-calc(27% - 2rem);
  width: calc(27% - 2rem);
  min-width: -webkit-calc(27% - 2rem);
  min-width: calc(27% - 2rem);
  height: 30rem;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  position: relative;
  margin: 2rem;
}

@media screen and (max-width: 800px) {
  .card {
    width: -webkit-calc(40% - 2rem);
    width: calc(40% - 2rem);
    margin: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
    margin: 5rem;
  }
}

.front,
.back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: ease-in-out 600ms;
  -o-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 7rem;
  font-weight: 600;
  color: #000000;
  overflow: hidden;
  text-shadow: 1px 1px #a6720b;
}

.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}

.card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.back {
  background: #fff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  padding: 0 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.back .button {
  padding: 1rem;
  background-color: #a6720b;
  width: 80%;
}

.card:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card:nth-child(even) .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:nth-child(even):hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.button {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  font-size: 2rem;
  border: none;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: BOLD;
  text-shadow: 2px 2px #000000;
  margin: 1.3rem auto;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px #000000cf;
          box-shadow: 0 4px 8px #000000cf;
}

.button:before {
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  -webkit-transform: translateZ(-40px);
          transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  -webkit-border-radius: 100px;
          border-radius: 100px;
  left: 10px;
  top: 16px;
}

.button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px #a6720b71;
          box-shadow: 0 10px 20px #a6720b71;
}

.white-head2 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
  font-size: 4rem !important;
  text-shadow: 2px 2px #000000;
  margin-top: 13rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 37.5em) {
  .white-head1 {
    font-size: 3.2rem !important;
  }
}

.back1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 32.5em) {
  .col {
    width: 100%;
    margin: 10% auto;
  }
}

@media only screen and (max-device-width: 950px) and (orientation: landscape) {
  .col {
    width: 60%;
    margin: 1% auto;
  }
}

.ne-nutrition-distribution {
  position: relative;
  padding-bottom: 99.99%;
  height: 0;
  overflow: hidden;
}

.ne-nutrition-distribution__chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team {
  color: white;
  text-align: center;
  font-size: 5.5rem;
  text-shadow: 0rem 0rem 1rem #ffcc00;
}

.team-lead-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-lead {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33rem;
  background-image: url(../img/bgt.jpg);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2rem;
  -webkit-box-shadow: 0 0 25px -3px #000000;
          box-shadow: 0 0 25px -3px #000000;
}

.team-lead::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-image: url(../img/bgt.jpg);
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -o-linear-gradient(#000000, #000000), -o-linear-gradient(#a6720b00, #a6720b00), -o-linear-gradient(#a6720b00, #a6720b00), -o-linear-gradient(#000000, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)), -webkit-gradient(linear, left top, left bottom, from(#a6720b00), to(#a6720b00)), -webkit-gradient(linear, left top, left bottom, from(#a6720b00), to(#a6720b00)), -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: linear-gradient(#000000, #000000), linear-gradient(#a6720b00, #a6720b00), linear-gradient(#a6720b00, #a6720b00), linear-gradient(#000000, #000000);
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.team-lead::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: -webkit-calc(100% - 6px);
  width: calc(100% - 6px);
  height: -webkit-calc(100% - 6px);
  height: calc(100% - 6px);
  background-image: url(../img/bgt.jpg);
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.name {
  color: #a6720b;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem #000000;
}

.image {
  height: 20rem;
  width: 20rem;
  -webkit-border-radius: 40rem;
          border-radius: 40rem;
  border: 0.5rem #a6720b;
  border-style: solid;
  margin-bottom: 1.3rem;
}

.image8 {
  -o-object-fit: cover;
     object-fit: cover;
}

.last {
  background-color: #dd921a;
  margin: 1rem;
  padding: 1rem;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.copy-right {
  text-align: end;
}

.teacher-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

.photo {
  height: 35rem;
  width: 100%;
  -webkit-border-radius: 1rem 1rem 0rem 0rem;
          border-radius: 1rem 1rem 0rem 0rem;
  border-bottom: 0.2rem solid #a6720b;
}

.teacher {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  margin: 3rem;
  background-image: url(../img/bgt.jpg);
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
}

.teacher:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 0.4rem 0.4rem 4rem rgba(255, 255, 255, 0.539);
          box-shadow: 0.4rem 0.4rem 4rem rgba(255, 255, 255, 0.539);
}

.team1 {
  color: white;
  text-align: center;
  text-shadow: 0rem 0rem 1rem #ffcc00;
  margin-bottom: 1rem;
}

.ourteam {
  color: #000000;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.ourlogo {
  margin-top: 1.2rem;
}

.ouricon {
  width: 2.5rem;
}

.ouriconk {
  width: 3.5rem;
}

.ouriconf {
  height: 2rem;
}

.ouricon:hover {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.ouriconlast {
  margin-left: 5rem;
}

.name1 {
  font-size: 1.4rem;
  margin-top: 0.2rem;
  text-shadow: 0.05rem 0.05rem #000000;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.team-lead:hover .image {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.white-head6 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 24ch;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-shadow: 0.2rem 0.2rem #a6720b;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
}

@media only screen and (max-width: 37.5em) {
  .white-head6 {
    font-size: 3.2rem !important;
  }
}

.tcname {
  font-weight: 600;
  margin-top: 0.6rem;
  text-shadow: 0.07rem 0.07rem #000000;
}

.tcdep {
  color: #a6720b;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  border-bottom: 0.2rem solid #a6720b;
}

.tcdiv {
  margin-bottom: 1rem;
}

.def {
  -o-object-fit: cover;
     object-fit: cover;
}

.white-head7 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 24ch;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-shadow: 0.2rem 0.2rem #000000;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
}

.white-head9 {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 17ch;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10rem;
  margin-bottom: 4rem;
  text-shadow: 0.2rem 0.2rem #a6720b;
  -webkit-animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
          animation: type 2s steps(20, end), blink-caret 0.5s step-end infinite;
}

@media only screen and (max-width: 37.5em) {
  .white-head7 {
    font-size: 3.2rem !important;
  }
}

.carousel-container {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  overflow: hidden;
  max-width: 800px;
  position: relative;
  -webkit-box-shadow: 0 0 30px -20px #223344;
          box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  z-index: 0;
}

.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  -webkit-border-radius: 0 8px 8px 0;
          border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  -webkit-border-radius: 8px 0 0 8px;
          border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.3);
}

.text {
  color: #fff;
  background-color: rgba(10, 10, 20, 0.561);
  font-weight: 800;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 2.2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.15);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.active,
.dots:hover {
  background-color: rgba(173, 216, 230, 0.8);
}

.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@keyframes animate {
  from {
    -webkit-transform: scale(1.1) rotateY(10deg);
            transform: scale(1.1) rotateY(10deg);
  }

  to {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
}

.footer {
  color: #fff;
  padding-top: 5rem;
  margin-top: 7rem;
  -webkit-clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
          clip-path: polygon(0 5rem, 50% 0, 100% 5rem, 100% 100%, 0 100%);
  width: 100%;
  position: relative;
}

.footer h5 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  text-shadow: 0.1rem 0.1rem #a6720b;
}

.footer p {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
}

.footer-text {
  color: #000000;
  font-size: 2rem !important;
  line-height: 1.5;
  text-shadow: 0.1rem 0.1rem #a6720b;
}

.footer-text a {
  color: #000000;
  text-shadow: 0.1rem 0.1rem #a6720b;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media a {
  color: #fff;
  text-shadow: 0.1rem 0.1rem #a6720b;
}

.social-media a:hover {
  color: #ccc;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links a {
  color: #fff;
}

.footer-links a:hover {
  color: #ccc;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
  border-bottom: 2px solid #000;
  padding-bottom: 2.4rem;
}

.rowl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
  border-bottom: 0px solid #000 !important;
  padding-bottom: 2.4rem;
}


.copyright {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.leftAddress {
  width: 75%;
}

.leftAddress i {
  font-size: 18px;
  margin-right: 16px;
  color: #000;
  text-shadow: 0.1rem 0.1rem #a6720b;
}

.leftAddress a,
span {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem #a6720b;
}

@media screen and (max-width: 960px) {
  .container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 767px) {

  .footer p {
    line-height: 1;
  }

  .leftAddress {
    width: 100%;
    margin-bottom: 20px;
  }

  h5 {
    text-align: center;
  }

  .row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.typed-text {
  color: #000000;
  font-size: 2rem;
}

.bg-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e4e4e4;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
  height: 100%;
}

@media only screen and (max-width: 37.5em) {
  .bg-video {
    scale: 1;
  }
}

.bg-footer__content {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.full-width-footer {
  width: 102vw;
  height: 102vh;
}

@media only screen and (max-width: 47.9em) {
  .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 2px solid #000;
    padding-bottom: 2.4rem;
  }

  .leftAddress {
    text-align: center;
    padding-bottom: 2.4rem;
    border-bottom: 2px solid #000;
  }
}


/* glitch fix pie chart */
@media only screen and (max-width: 47.9em) {
  .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 2px solid #000;
    padding-bottom: 2.4rem;
  }

  .leftAddress {
    text-align: center;
    padding-bottom: 2.4rem;
    border-bottom: 2px solid #000;
  }
}

/* glitch fix pie chart */
svg>g>g.google-visualization-tooltip {
  pointer-events: none
}

.animate-me {
  opacity: 0;
  -webkit-transition: opacity 2000ms ease;
  -o-transition: opacity 2000ms ease;
  transition: opacity 2000ms ease;
  margin-top: 10rem;
}

.animated {
  opacity: 1;
  margin-top: 8REM !important;
}

.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}

.loader i {
  font-size: 50px;
  max-width: 100px;
}

.nt {
  margin: 16px;
  color: #a6720b;
  padding: 0.2em;
  text-decoration: none;
  font-size: 22px;
}

marquee {
  height: 100%;
}

hr {
  margin: 8px 0;
}

@media only screen and (max-width: 500px) {
  .nt {
    font-size: 18px;
  }

  .new {
    font-size: 7px !important;
    margin-left: 4px;
  }

  .noticeBody {
    padding-right: 0.4em;
    padding-left: 0.4em;
  }
}

.noticeBody {
  height: 30rem;
  overflow: hidden;
  background-color: white;
}

.nt:hover,
.nt:active {
  color: #ffffff;
  background-color: #a6720b;
}

.dashed-hr {
  border: none;
  border-bottom: dashed 1px #000000;
}


.animate-me2 {
  margin-top: 2REM;
}

.extern {
  text-decoration: none;
  font-weight: 800;
  color: #a6720b;
}

.topic {
  margin-left: 1.5rem;
}

.locate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.location {
  -webkit-border-radius: 30px;
  border-radius: 30px;
overflow: hidden;
max-width: 80rem;
margin-left: 1rem;
margin-right: 1rem;
width: 90%;
height: 75vh;
}

@media only screen and (max-width: 60rem) {
  .location {
    -webkit-border-radius: 0px;
    border-radius: 0px;
  overflow: hidden;
  max-width: 80rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 40vh;
  }
}

.edge {
  border: solid 0.5rem #000;
  object-fit: cover;
  height: auto !important;
  width: 90%;
border-radius: 10px;
}