*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    box-sizing:border-box;
    font-family: 'lato',sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.6rem;
}
html{
    font-size:62.5%;
}
.testimonial-main{
    margin:1.5rem;
    color:white;
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content:center;
}
.testimonial-sub
{
    width:70rem;
    padding:2rem;
    font-size:1.3rem;
    text-align:justify;
}
.testimonial-name{
    color:rgb(189, 149, 18);
    font-size:2.7rem;
}
.photo1{
    margin-right:2rem;
    float:left;
    height:38rem;
    width:27rem;
    border-radius:1rem;
}
.name{
    color:rgb(189, 149, 18);
    font-size:2rem;
    text-align:center;
}
.last{
    background-color: rgb(221, 146, 26);
    margin:1rem;
    padding:1rem;
    border-radius:1rem;
}
.copy-right{
    text-align:end;
}
.teacher-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:white;
    text-align: center;
}
.photo{
    height:25rem;
    width:20rem;
    border-radius:1rem;
}
.teacher{
    align-items: center;
    width:20rem;
    margin:1.5rem;
}
.team1{
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0rem 0rem 1rem rgb(255, 204, 0);
    margin-bottom: 1rem;  
}